.feature-card {
    padding: 2rem;
    transition: transform 0.3s ease;
    text-align: left;
    border: solid 1px var(--text);
}



.value-card{
    background-color: var(--bg);
    border: solid 1px var(--text);
    padding: 24px;
    transition: transform 0.3s ease;
}

.value-card:hover {
    transform: translateY(-5px);
    border-color: var(--alt);
}

.value-card:hover h3{
    color: var(--alt);
}